<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Survey Dataset Exploration Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

-   Load the dataset that will used thru the capstone project.
-   Explore the dataset.
-   Get familier with the data types.

## Load the dataset

Import the required libraries.

In [1]:
import pandas as pd

The dataset is available on the IBM Cloud at the below url.

In [2]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

Load the data available at dataset_url into a dataframe.

In [8]:
df = pd.read_csv(dataset_url)

## Explore the data set

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [9]:
# your coded goes here
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [16]:
# your code goes here
print("Number of rows:", df.shape[0])

Number of rows: 11552

Print the number of columns in the dataset.

In [18]:
# your code goes here
print("Number of columns:", df.shape[1])

Number of columns: 85

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [21]:
# your code goes here
df.dtypes

Respondent       int64
MainBranch      object
Hobbyist        object
OpenSourcer     object
OpenSource      object
                 ...
Sexuality       object
Ethnicity       object
Dependents      object
SurveyLength    object
SurveyEase      object
Length: 85, dtype: object

Print the mean age of the survey participants.

In [24]:
# your code goes here
print("Mean age:", df["Age"].mean())

Mean age: 30.77239449133718

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [26]:
# your code goes here
# Print the number of unique countries in the "Country" column
print("Number of unique countries:", df["Country"].nunique())

Number of unique countries: 135

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

In [27]:
# Remove duplicate rows from the data frame
df = df.drop_duplicates()

# Print the number of rows in the data frame after removing duplicates
print("Number of rows after removing duplicates:", df.shape[0])

Number of rows after removing duplicates: 11398

In [29]:
# Print the number of unique rows in the data frame
print("Number of unique rows:", df.nunique())

Number of unique rows: Respondent      11398
MainBranch          2
Hobbyist            2
OpenSourcer         4
OpenSource          3
                ...
Sexuality           7
Ethnicity          89
Dependents          2
SurveyLength        3
SurveyEase          3
Length: 85, dtype: int64

In [30]:
# Count the number of blank rows in the "EdLevel" column
num_blank_rows = df["EdLevel"].isna().sum()

# Print the number of blank rows in the "EdLevel" column
print("Number of blank rows in the EdLevel column:", num_blank_rows)

Number of blank rows in the EdLevel column: 112

In [31]:
# Count the number of missing rows in the "Country" column
num_missing_rows = df["Country"].isna().sum()

# Print the number of missing rows in the "Country" column
print("Number of missing rows in the Country column:", num_missing_rows)

Number of missing rows in the Country column: 0

In [32]:
# Find the majority category under the "Employment" column
majority_category = df["Employment"].value_counts().idxmax()

# Print the majority category under the "Employment" column
print("Majority category under the Employment column:", majority_category)

Majority category under the Employment column: Employed full-time

In [33]:
# Find the category with the minimum number of rows under the "UndergradMajor" column
min_category = df["UndergradMajor"].value_counts().idxmin()

# Print the category with the minimum number of rows under the "UndergradMajor" column
print("Category with the minimum number of rows under the UndergradMajor column:", min_category)

Category with the minimum number of rows under the UndergradMajor column: A health science (ex. nursing, pharmacy, radiology)

In [34]:
# Find the number of unique values in the "CompFreq" column
nunique_comp_freq = df["CompFreq"].nunique()

# Print the number of unique values in the "CompFreq" column
print("Number of unique values in the CompFreq column:", nunique_comp_freq)

Number of unique values in the CompFreq column: 3

In [35]:
# Filter the DataFrame to include only rows where the "CompFreq" column is "Yearly"
yearly_df = df[df["CompFreq"] == "Yearly"]

# Count the number of rows in the filtered DataFrame
yearly_count = yearly_df.shape[0]

# Print the number of respondents being paid yearly
print("Number of respondents being paid yearly:", yearly_count)

Number of respondents being paid yearly: 6073

In [40]:

# Find the median value of the "NormalizedAnnualCompensation" column
median_compensation = df["NormalizedAnnualCompensation"].median()

# Print the median value of the "NormalizedAnnualCompensation" column
print("Median NormalizedAnnualCompensation:", median_compensation)

KeyError: 'NormalizedAnnualCompensation'

In [41]:
# Count the number of duplicate rows in the DataFrame
duplicate_count = df.duplicated().sum()

# Print the number of duplicate rows
print("Number of duplicate rows:", duplicate_count)

Number of duplicate rows: 0

In [42]:
# Count the number of duplicate values in the "Respondent" column
duplicate_respondent_count = df.duplicated(subset=["Respondent"]).sum()

# Print the number of duplicate values in the "Respondent" column
print("Number of duplicate Respondent values:", duplicate_respondent_count)

Number of duplicate Respondent values: 0